@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url(img/fundo.jpg) center center no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
    font-family: "Comfortaa", sans-serif;
}

div.container {
    display: flex;
    justify-content: center;
}

div.card {
    width: 300px;
    height: 550px;
    margin-top: 20px;
    background-color: rgba(57, 60, 61, 0.692);
    border: 1px solid white;
    border-radius: 10px;
}

div.img-container {
    display: flex;
    justify-content: center;
}

.main-img { 
    margin-top: 20px;
    border-radius: 50%;
}

div.text {
   text-align: center;
}

.title {
    margin-top: 20px;
}

.description {
    margin: 20px 0px;
    text-align: center;
    line-height: 2em;
    padding: 0px 15px;
}

div.links {
    display: flex;
    justify-content: center;
}

.space {
    margin-left: 15px;
}